<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albondigas con Puré</title>
</head>
<body>
    <h1>Receta de Albondigas con puré</h1>
    <p>Hoy vas a aprender el paso a paso de como preparar esta rica comida</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul type="cicle">
        <li>Carne</li>
        <li>Huevos</li>
        <li>Cebolla</li>
        <li>Tomate</li>
        <li>Papas</li>
        <li>Leche</li>
        <li>Manteca</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="a">
        <li>Batir 3 huevos, picar 3 cebollas y hervir papas</li>
        <li>Añadir a los huevos la carne picada y la mitad de la cebolla picada, juntar todo y hacer pequeñas bolitas (albondigas)</li>
        <li>Poner aceite en un olla y agregar las cebollas sobrantes, dorar</li>
        <li>Agregar tomates cubeteados y dejar que se cocine la salsa, por aproxmadamente 10 minutos</li>
        <li>Agregar agua a gusto y condimentar, luego agregar las albondigas y tapar por 15 minutos aprox</li>
        <li>Las papas hervidas pisarlas, agregarle leche y manteca a gusto, hasta llegar a la consistencia de preferencia</li>
        <li>Solo queda presentar el plato y disfrutar</li>
    </ol>
    <br>
    <a href="https://cookpad.com/ar/recetas/10897683-albondigas-con-pure" target="_blank">Lee otra receta en <strong>Coopad</strong> </a>
    <br>
    <a href="Pizza.html">Ver receta de Pizza</a>
    <br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>